<mat-card class="card-background">
  <mat-card-title>ようこそ、XinChaoへ</mat-card-title>
  <mat-card-subtitle>
    本格ベトナム料理を手ごろな価格で
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      This is NOT a real Vietnamese restaurant. I just wanted to have fun with
      Angular.
    </p>
    <p>
      Angularの練習のために作ったサイトです。実在しないレストランなので、ご注意を。
    </p>
  </mat-card-content>
  <img
    mat-card-image
    src="{{ imagePath('/images/lady.jpg') }}"
    alt="レストランで食事をする、アオザイを着た女性"
    class="image"
  />
</mat-card>
