@import "../../../../src/styles.scss";

$accent: mat-color($nha-hang-accent);

nav {
  position: absolute;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;

  padding: 12px;
  background-color: $accent;
}

a {
  width: 25%;
}

@media screen and (min-width: 1280px) {
  mat-icon {
    padding-right: 4px;
  }
}
