@import "../../../../src/app/styles/card.scss";

.ellipsis {
  overflow: hidden;
  /* 文字列を一行にする */
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1280px) {
  .mat-card {
    width: 45%;
    margin-right: 8px;
  }
}
