@import "../../../../src/app/styles/card.scss";

@media screen and (min-width: 1280px) {
  app-dish-summary-card {
    display: flex;
    flex-flow: row wrap;
  }

  .card-container {
    width: 100%;
  }
}
